name: CI

on:
  push:
    branches: ["master"]
  pull_request:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        run: swift build -c release
      - name: Test
        run: swift test -c release
